name: Simple LaTeX Compile

on:
  push:
    branches:
      - master
    paths:
      - 'resume.tex' # Only runs if resume.tex changes

jobs:
  compile_pdf:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile resume.tex to PDF
        uses: xu-cheng/latex-action@v2
        with:
          root_file: resume.tex
          compiler: pdflatex
          # The PDF will be created in your workspace but not automatically released
